extends main-layout
block variables
	-var currentPage = 'about'
block contents
	b Handling: 
	| Möt Huvudkaraktären Dorothy från Rågsved och hennes hund Toto, som efter en storm hamnar i landet Oz. Med en önskan om kändisskap, försöker hon hitta till smaragdstaden där den kända trollkaren bor. På sin resa träffar hon på Fågelskrämman, Plåtis och  Lejonet som följer med på äventyret.
	br
	br
	b Regissörens ord om musikalen: 
	| The Wiz är en bild av vår tid, och av oss som lever i den. En tid där bekräftelse är omedelbar, där lycka mäts i likes och där din profil är viktigare än vem du är. Vi spenderar allt mer tid med att stirra in i våra skärmar och allt mindre med att se varandra i ögonen. The Wiz handlar om vad som händer med människor i en sådan tid. Det handlar om oss…”
	br
	br
	b Speltid: 
	| 2.45 h inklusive 25 minuters paus
	br
	br
	| Stäng av din mobiltelefon och följ med oss till en ny värld! En värld som handlar om oss… 

