extends main-layout
block variables
	-var currentPage = 'contact'
block contents
	| Vill du vara med och sponsra musikalen? Eller bara säga hej? Kontakta oss via mail på 
	a(href="mailto:thewiz@vrg.se") thewiz@vrg.se
	| ! 
	br
	br
	//- | Se även vårt 
	//- a(href="https://www.facebook.com/events/916088088483667/") Facebook Event 
	//- | för senaste nytt!