extends main-layout
block variables
	-var currentPage = 'index'
block contents
	| För tjugoförsta året i rad presenterar Viktor Rydberg Gymnasium stolt årets färgstarka soulmusikal - The Wiz. Upplev en ytterst modern tolkning av originalmusikalen från 1974, inspirerad av trollkaren från Oz. Musikalen är som vanligt skapad av elever ifrån de tre Viktor Rydberg gymnasieskolorna, som själva ligger bakom arbetet - Allt från marknadsföring till koreografi och skådespeleri. 
	a(href="/about") Läs mer...

	a.ticnet(href="http://www.ticnet.se/search/?keyword=The+Wiz")

	.videoWrapper
		| <iframe id="trailervid" width="560" height="349" src="https://www.youtube.com/embed/ThyYaymd8t0" frameborder="0" allowfullscreen></iframe>
