doctype html
block variables
html
  head
    | <!-- Created by Leonard Pauli 2015 -->
    meta(charset="utf-8")
    title THE WIZ - Musikalen om att leva IRL
    link(rel="stylesheet", href="/stylesheets/style.css?v=5000")
    meta(name="viewport",content="width=device-width,initial-scale=1,maximum-scale=1")

    meta(name="description",content="För tjugoförsta året i rad presenterar Viktor Rydberg Gymnasium stolt årets färgstarka soulmusikal - The Wiz. Upplev en ytterst modern tolkning av originalmusikalen från 1974, inspirerad av trollkaren från Oz.")
    meta(name="keywords",content="vrg,2016,the wiz,trollkaren,oz,viktor rydberg,gymnasium,maximteatern,maxim,irl")
    meta(name="author",content="Viktor Rydberg Gymnasium")

    //| <script>var links = document.getElementsByTagName("link");for (var i = 0; i < links.length;i++) {var link = links[i];if (link.rel === "stylesheet" && link.href.substr(0,link.href.length-3)) setInterval(function (link) {link.href = link.href.substr(0,link.href.length-3)+(Math.abs(new Date())+'').substr(-3,3);}, 500, link);}</script>

  body(currentPage= currentPage)
    block content

    | <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    | ga('create', 'UA-70259612-1', 'auto');ga('send', 'pageview');</script>