extends layout
block content
	h1(onclick="location.href='/'") 👉 THE WIZ  👈
	h2 En musikal om att leva IRL. Biljetter finns på 
		a(href="http://www.ticnet.se/search/?keyword=The+Wiz") ticnet.se
	.logo
	.menu
		-var menuLinks = ['/about', 					'https://instagram.com/thewizvrg/', '/medverkande', '/contact', '/sponsorer']
		-var menuNames = ['about', 						'N/A', 															'medverkande', 	'contact', 'sponsorer']
		-var menuTitles= ['Vad är the Wiz?', 	'Bilder', 													'Medverkande', 	'Kontakt', 'Sponsorer']
		each val, index in menuTitles
			a(href=menuLinks[index])(class= currentPage==menuNames[index]?'selected':'')= val
			|  
	img(src="/images/message-corners.png")(style="display:none")
	
	.content
		block contents
		.spons
			include spons.jade

	.footer
		-var n=0
		while n<10
			span(style= 'background-image: url(/images/emoji-'+(n++)+'.png);')