extends main-layout
block variables
	-var currentPage = 'medverkande'
block contents
	| Vi som har gjort musikalen är elever på Viktor Rydberg Gymnasium, Odenplan, Jarlaplan såväl som Djursholm. Allt ifrån dekor till marknadsföring och scenografi. Kom tillbaka snart för mer!