| Tack till våra generösa sponsorer! Med er hjälp har musikalen kunnat skapa talande kulisser och kostymer som berör. Tack!
br
br
-var spons = "ABC,Energibyrån,ELIT,Danske bank,Föräldraföreningen Jarlaplan,Mathem,SEB,EK Kommunikation,SJ,Weserch,Hotell Svea,Nordier,Danderyds Trafikskola,Arkitekt Blå,Tictac Mobile,gyn,jmphjul,kleins,maliving,maxmatt,nickes,CL Seifelt".split(',');
-var links = ["http://www.abcgruppen.se/","http://www.energibyran.se/","http://www.elitpartner.se/","http://www.danskebank.se/","#","https://www.mathem.se/","http://seb.se/","http://ekkommunikation.se/","http://www.sj.se/","http://www.wesearch.se/","http://hotellsvea.se/","http://www.nordier.se/sv/","http://www.danderydstrafikskola.se/","http://arkitektbla.se","http://tictacmobile.com/sv","#","http://www.jmphjul.se","http://www.kleinskitchen.se/","http://www.maliving.se/","http://www.maxm.se/","http://gulasidorna.eniro.se/f/m%C3%A4ster-nickes-fris%C3%B6rsalong-ab:7809208","https://clseifert.com/sv/"];
each val, index in spons
	a(href=links[index])(alt=val)(class= "sp"+index)
br
br
| Vill du vara med och sponsra musikalen? Kontakta oss via mail på 
a(href="mailto:thewiz@vrg.se")(class="no-ad") thewiz@vrg.se
| ! 
br
br
| Vi vill även tacka:
br
a(href="http://www.gipparkitektur.se/")(class="no-ad") Petra Gipp Arkitektur 
br
| Volt
br
| Carolina Fjeastad - Kulturtavlorna
br
| Annette Tammerström - Clear Channel  
br
| Face Stockholm
br
| Lumene
br
| Smink och Perukmakar’n
br
| Ohlssons tyger
br
| Karolinska Sjukhuset Solna
br
| Tack mamma för tyger!
br
| VRG Jarlaplan Föräldraförening 
br
| Anna Arndt 
br
| Prospina Rehab
br
| Filippas mormor
br
| Gipp Arkitektur
br
| Pappa Hederstierna 
br
| Rhys Jones
br
| Kleins Kitchen 
br
| Max Matthiessen
br
| Kerstin Critti
br
| Leonard Pauli
br
| Tidningskungen
br
| Stallmästaregården
br
a(href="https://www.stadsevent.se")(class="no-ad") StadsEvent.se

//- | Se även vårt 
//- a(href="https://www.facebook.com/events/916088088483667/") Facebook Event 
//- | för senaste nytt!