* {
  padding: 0px;
  margin: 0px;
}
html {
  height: 100%;
}
body {
  background-color: #299cfa; /* Old browsers */
  background-image: -moz--webkit-linear-gradient(top, #4dbdfb 0%, #299cfa 100%);
  background-image: -moz--moz-linear-gradient(top, #4dbdfb 0%, #299cfa 100%);
  background-image: -moz--o-linear-gradient(top, #4dbdfb 0%, #299cfa 100%);
  background-image: -moz--ms-linear-gradient(top, #4dbdfb 0%, #299cfa 100%);
  background-image: -moz-linear-gradient(to bottom, #4dbdfb 0%, #299cfa 100%); /* FF3.6-15 */
  background-image: -webkit--webkit-linear-gradient(top, #4dbdfb 0%, #299cfa 100%);
  background-image: -webkit--moz-linear-gradient(top, #4dbdfb 0%, #299cfa 100%);
  background-image: -webkit--o-linear-gradient(top, #4dbdfb 0%, #299cfa 100%);
  background-image: -webkit--ms-linear-gradient(top, #4dbdfb 0%, #299cfa 100%);
  background-image: -webkit-linear-gradient(to bottom, #4dbdfb 0%, #299cfa 100%); /* Chrome10-25,Safari5.1-6 */
  background-image: -webkit-linear-gradient(top, #4dbdfb 0%, #299cfa 100%);
  background-image: -moz-linear-gradient(top, #4dbdfb 0%, #299cfa 100%);
  background-image: -o-linear-gradient(top, #4dbdfb 0%, #299cfa 100%);
  background-image: -ms-linear-gradient(top, #4dbdfb 0%, #299cfa 100%);
  background-image: linear-gradient(to bottom, #4dbdfb 0%, #299cfa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-repeat: no-repeat;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4dbdfb,endColorstr=#299cfa,GradientType=0)"; /* IE6-9 */
  font-family: HelveticaNeue, Helvetica, Arial;
  font-weight: 200;
  color: #fff;
}
a,
a:active,
a:link,
a:visited,
a:hover {
  color: #0047ff;
}
h1 {
  text-align: center;
  margin-top: 180px;
  font-weight: 200;
  font-size: 50px;
  cursor: pointer;
}
h1:hover {
  -webkit-transform: scale(0.99);
  -moz-transform: scale(0.99);
  -o-transform: scale(0.99);
  -ms-transform: scale(0.99);
  transform: scale(0.99);
}
h2 {
  text-align: center;
  font-weight: 200;
  font-size: 18px;
  margin-top: 3px;
}
.logo {
  background-image: url(/images/vrg-logo.png);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 130px;
  height: 130px;
  position: absolute;
  right: 50px;
  top: 50px;
}
.menu {
  text-align: center;
  line-height: 50px;
  margin: 0 auto;
  padding-left: -20px;
  margin-top: 20px;
  margin-bottom: 25px;
  width: 90%;
}
.menu a {
  white-space: nowrap;
  margin-left: 20px;
  background: #e5e5ea;
  text-decoration: none;
  color: #000;
  font-size: 17px;
  padding: 11px 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  position: relative;
}
.menu a:before {
  content: "";
  display: block;
  width: 32px;
  height: 24px;
  background-image: url(/images/message-corners.png);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 0% 0%;
  -webkit-background-size: 400% 100%;
  -moz-background-size: 400% 100%;
  background-size: 400% 100%;
  position: absolute;
  bottom: 0px;
  left: -10px;
  z-index: -1;
}
.menu a:nth-last-child(-n+3):before {
  background-position-x: 66.67%;
  left: auto;
  bottom: 0px;
  right: -10px;
}
.menu a:hover,
.menu a.selected {
  background: #00ff3c;
  color: #fff;
}
.menu a:hover:nth-last-child(-n+3):before,
.menu a.selected:nth-last-child(-n+3):before {
  background-position-x: 100%;
}
.menu a:hover:nth-child(-n+2):before,
.menu a.selected:nth-child(-n+2):before {
  background-position-x: 33.33%;
}
.content {
  max-width: 630px;
  width: 90%;
  margin: 0px auto;
  text-align: center;
  line-height: 20px;
}
a.ticnet {
  margin: 0 auto;
  margin-top: 50px;
  display: block;
  width: 180px;
  height: 68px;
  background: #ea8300;
  -webkit-box-shadow: 0px -1px 6px 0px rgba(0,0,0,0.3), inset 0px -1px 3px 0px rgba(0,0,0,0.38), inset 0px 3px 5px 0px rgba(255,255,255,0.53);
  box-shadow: 0px -1px 6px 0px rgba(0,0,0,0.3), inset 0px -1px 3px 0px rgba(0,0,0,0.38), inset 0px 3px 5px 0px rgba(255,255,255,0.53);
  -webkit-border-radius: 13px;
  border-radius: 13px;
  background-image: url(/images/ticnet-logo.png);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 114px 38px;
  -moz-background-size: 114px 38px;
  background-size: 114px 38px;
  position: relative;
  top: 0px;
  -webkit-transition: box-shadow 0.2s ease-out, top 0.2s ease-out;
  -moz-transition: box-shadow 0.2s ease-out, top 0.2s ease-out;
  -o-transition: box-shadow 0.2s ease-out, top 0.2s ease-out;
  -ms-transition: box-shadow 0.2s ease-out, top 0.2s ease-out;
  transition: box-shadow 0.2s ease-out, top 0.2s ease-out;
}
a.ticnet:hover {
  top: 0px;
  -webkit-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.21), inset 0px -1px 3px 0px rgba(0,0,0,0.38), inset 0px 3px 6px 0px rgba(255,255,255,0.79);
  box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.21), inset 0px -1px 3px 0px rgba(0,0,0,0.38), inset 0px 3px 6px 0px rgba(255,255,255,0.79);
}
a.ticnet:active {
  top: 1px;
  -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.41), inset 0px -1px 3px 0px rgba(0,0,0,0.38), inset 0px 3px 6px 0px rgba(255,255,255,0.79);
  box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.41), inset 0px -1px 3px 0px rgba(0,0,0,0.38), inset 0px 3px 6px 0px rgba(255,255,255,0.79);
}
a.ticnet:after,
a.ticnet:before {
  content: "";
  position: absolute;
  right: -75px;
  bottom: -70px;
  display: block;
  height: 60px;
  width: 60px;
  background-image: url(/images/emoji-10.png);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
a.ticnet:before {
  position: absolute;
  right: -40px;
  bottom: -80px;
  -webkit-transform: rotate(-140deg);
  -moz-transform: rotate(-140deg);
  -o-transform: rotate(-140deg);
  -ms-transform: rotate(-140deg);
  transform: rotate(-140deg);
  background-image: url(/images/emoji-2.png);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 15px;
  text-align: center;
  background-image: -webkit-linear-gradient(top, hsla(201,96%,64%,0) 0%, hsla(204,96%,61%,0.7) 50%, hsla(207,95%,57%,1) 100%);
  background-image: -moz-linear-gradient(top, hsla(201,96%,64%,0) 0%, hsla(204,96%,61%,0.7) 50%, hsla(207,95%,57%,1) 100%);
  background-image: -o-linear-gradient(top, hsla(201,96%,64%,0) 0%, hsla(204,96%,61%,0.7) 50%, hsla(207,95%,57%,1) 100%);
  background-image: -ms-linear-gradient(top, hsla(201,96%,64%,0) 0%, hsla(204,96%,61%,0.7) 50%, hsla(207,95%,57%,1) 100%);
  background-image: linear-gradient(to bottom, hsla(201,96%,64%,0) 0%, hsla(204,96%,61%,0.7) 50%, hsla(207,95%,57%,1) 100%);
}
.footer span {
  width: 9%;
  height: 60px;
  display: inline-block;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.videoWrapper {
  position: relative;
  padding-bottom: 52.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  top: 110px;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.menu a:last-child {
  display: none;
}
.spons {
  margin-top: 30px;
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 20px;
}
[currentpage="sponsorer"] .content > a:not(.no-ad),
.content > .spons > a:not(.no-ad) {
  display: inline-block;
  width: 22%;
  height: 110px;
  background-image: url(/images/.png);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 8px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
[currentpage="sponsorer"] .content > a:not(.no-ad):after,
.content > .spons > a:not(.no-ad):after {
  display: block;
  height: 100%;
}
[currentpage="sponsorer"] .content > a:not(.no-ad).sp0,
.content > .spons > a:not(.no-ad).sp0 {
  background-image: url("/images/spons/abc.png");
}
[currentpage="sponsorer"] .content > a:not(.no-ad).sp13,
.content > .spons > a:not(.no-ad).sp13 {
  background-image: url("/images/spons/arkitektbla.png");
}
[currentpage="sponsorer"] .content > a:not(.no-ad).sp12,
.content > .spons > a:not(.no-ad).sp12 {
  background-image: url("/images/spons/danderydtrafik.png");
}
[currentpage="sponsorer"] .content > a:not(.no-ad).sp3,
.content > .spons > a:not(.no-ad).sp3 {
  background-image: url("/images/spons/danskebank.png");
}
[currentpage="sponsorer"] .content > a:not(.no-ad).sp7,
.content > .spons > a:not(.no-ad).sp7 {
  background-image: url("/images/spons/ekko.png");
}
[currentpage="sponsorer"] .content > a:not(.no-ad).sp2,
.content > .spons > a:not(.no-ad).sp2 {
  background-image: url("/images/spons/elit.png");
}
[currentpage="sponsorer"] .content > a:not(.no-ad).sp1,
.content > .spons > a:not(.no-ad).sp1 {
  background-image: url("/images/spons/energi.png");
}
[currentpage="sponsorer"] .content > a:not(.no-ad).sp10,
.content > .spons > a:not(.no-ad).sp10 {
  background-image: url("/images/spons/hotelsvea.png");
}
[currentpage="sponsorer"] .content > a:not(.no-ad).sp4,
.content > .spons > a:not(.no-ad).sp4 {
  background-image: url("/images/spons/jarlaplan.png");
}
[currentpage="sponsorer"] .content > a:not(.no-ad).sp5,
.content > .spons > a:not(.no-ad).sp5 {
  background-image: url("/images/spons/mathem.png");
}
[currentpage="sponsorer"] .content > a:not(.no-ad).sp11,
.content > .spons > a:not(.no-ad).sp11 {
  background-image: url("/images/spons/nordier.png");
}
[currentpage="sponsorer"] .content > a:not(.no-ad).sp6,
.content > .spons > a:not(.no-ad).sp6 {
  background-image: url("/images/spons/seb.png");
}
[currentpage="sponsorer"] .content > a:not(.no-ad).sp8,
.content > .spons > a:not(.no-ad).sp8 {
  background-image: url("/images/spons/sj.png");
}
[currentpage="sponsorer"] .content > a:not(.no-ad).sp14,
.content > .spons > a:not(.no-ad).sp14 {
  background-image: url("/images/spons/tictac.png");
}
[currentpage="sponsorer"] .content > a:not(.no-ad).sp9,
.content > .spons > a:not(.no-ad).sp9 {
  background-image: url("/images/spons/wesearch.png");
}
[currentpage="sponsorer"] .content > a:not(.no-ad).sp15,
.content > .spons > a:not(.no-ad).sp15 {
  background-image: url("/images/spons/gyn.png");
}
[currentpage="sponsorer"] .content > a:not(.no-ad).sp16,
.content > .spons > a:not(.no-ad).sp16 {
  background-image: url("/images/spons/jmphjul.png");
}
[currentpage="sponsorer"] .content > a:not(.no-ad).sp17,
.content > .spons > a:not(.no-ad).sp17 {
  background-image: url("/images/spons/kleins.png");
}
[currentpage="sponsorer"] .content > a:not(.no-ad).sp18,
.content > .spons > a:not(.no-ad).sp18 {
  background-image: url("/images/spons/maliving.png");
}
[currentpage="sponsorer"] .content > a:not(.no-ad).sp19,
.content > .spons > a:not(.no-ad).sp19 {
  background-image: url("/images/spons/maxmatt.png");
}
[currentpage="sponsorer"] .content > a:not(.no-ad).sp20,
.content > .spons > a:not(.no-ad).sp20 {
  background-image: url("/images/spons/nickes.png");
}
[currentpage="sponsorer"] .content > a:not(.no-ad).sp21,
.content > .spons > a:not(.no-ad).sp21 {
  background-image: url("/images/spons/seifert.png");
}
[currentpage="index"] .spons {
  margin-top: 150px;
}
body {
  overflow-y: scroll;
  padding-bottom: 100px;
}
@media all and (min-width: 900px) and (max-height: 750px) {
  .logo {
    width: 120px;
    heigth: 120px;
    right: 40px;
    top: 20px;
  }
  h1 {
    margin-top: 70px;
  }
  h2 {
    font-size: 16px;
    margin-top: -3px;
  }
}
@media all and (max-width: 700px) {
  .logo {
    width: 70px;
    heigth: 70px;
    right: 30px;
    top: 10px;
  }
  h1 {
    margin-top: 40px;
  }
  h2 {
    font-size: 16px;
    margin-top: -3px;
  }
}
@media all and (max-width: 540px) {
  body {
    overflow-y: scroll;
    padding-bottom: 100px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 15px;
    width: 230px;
    line-height: 18px;
    margin: 0px auto;
  }
  .menu a:last-child {
    display: inline;
  }
  .content > .spons {
    display: none;
  }
  .videoWrapper {
    top: 20px;
  }
}
@media all and (max-width: 460px) {
  .logo {
    width: 50px;
    heigth: 50px;
    right: 25px;
    top: 5px;
  }
  a.ticnet:after {
    position: absolute;
    right: -35px;
    bottom: -30px;
  }
  a.ticnet:before {
    position: absolute;
    right: 0px;
    bottom: -40px;
  }
}
[currentpage="sponsorer"] .content > .spons {
  display: none;
}
