@import nib

bg-image(name)
	background-image unquote('url(/images/'+name+'.png)')
	background-size contain
	background-repeat no-repeat
	background-position center

*
	padding 0px
	margin 0px

html
	height 100%

body
	background-color: #299cfa; /* Old browsers */
	background-image: -moz-linear-gradient(top,  #4dbdfb 0%, #299cfa 100%); /* FF3.6-15 */
	background-image: -webkit-linear-gradient(top,  #4dbdfb 0%,#299cfa 100%); /* Chrome10-25,Safari5.1-6 */
	background-image: linear-gradient(to bottom,  #4dbdfb 0%,#299cfa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-repeat no-repeat
	-ms-filter "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4dbdfb,endColorstr=#299cfa,GradientType=0)"; /* IE6-9 */
	font-family HelveticaNeue, Helvetica, Arial
	font-weight 200
	color white
	
a, a:active, a:link, a:visited, a:hover
	color #0047FF

h1
	text-align center
	margin-top 180px
	font-weight 200
	font-size 50px
	cursor pointer
	&:hover
		transform scale(0.99)

h2
	text-align center
	font-weight 200
	font-size 18px
	margin-top 3px

.logo
	bg-image 'vrg-logo'
	width 130px
	height 130px
	absolute right 50px top 50px
	
.menu
	text-align center
	line-height 50px
	margin 0 auto
	padding-left -20px
	margin-top 20px
	margin-bottom 25px
	width 90%
	a
		white-space nowrap
		margin-left 20px
		background #E5E5EA
		text-decoration none
		color black
		font-size 17px
		padding 11px 20px
		border-radius 20px
		position relative
		&:before
			content ""
			display block
			width 32px
			height 24px
			bg-image 'message-corners'
			background-position 0% 0%
			background-size 400% 100%
			absolute bottom 0px left -10px
			z-index -1
		&:nth-last-child(-n+3):before
			background-position-x 66.67%
			left auto
			bottom 0px
			right -10px
		&:hover, &.selected
			background #00FF3C
			color white
			&:nth-last-child(-n+3):before
				background-position-x 100%
			&:nth-child(-n+2):before
				background-position-x 33.33%
	
.content
	max-width 630px
	width 90%
	margin 0px auto
	text-align center
	line-height 20px
	
a.ticnet
	margin 0 auto
	margin-top 50px
	display block
	width 180px
	height 68px
	background #EA8300
	box-shadow 0px -1px 6px 0px rgba(0,0,0,0.3), inset 0px -1px 3px 0px rgba(0,0,0,0.38), inset 0px 3px 5px 0px rgba(255,255,255,0.53)
	border-radius 13px
	bg-image 'ticnet-logo'
	background-size 114px 38px
	relative top 0px
	transition box-shadow 0.2s ease-out, top 0.2s ease-out
	&:hover
		top 0px
		box-shadow 0px 1px 9px 0px rgba(0,0,0,0.21), inset 0px -1px 3px 0px rgba(0,0,0,0.38), inset 0px 3px 6px 0px rgba(255,255,255,0.79)
	&:active
		top 1px
		box-shadow 0px -2px 5px 0px rgba(0,0,0,0.41), inset 0px -1px 3px 0px rgba(0,0,0,0.38), inset 0px 3px 6px 0px rgba(255,255,255,0.79)
	&:after, &:before
		content ""
		absolute right -75px bottom -70px
		display block
		height 60px
		width 60px
		bg-image 'emoji-10'
	&:before
		absolute right -40px bottom -80px
		transform rotate(-140deg)
		bg-image 'emoji-2'
		

.footer
	fixed bottom 0px left 0px right 0px
	padding 15px
	text-align center
	//background-color #299cfa
	background-image linear-gradient(to bottom, hsla(201,96%,64%,0) 0%, hsla(204,96%,61%,0.7) 50%, hsla(207,95%,57%,1) 100%);
	span
		width 9%
		height 60px
		display inline-block
		background-size contain
		background-repeat no-repeat
		background-position center



.videoWrapper {
	position: relative;
	padding-bottom: 52.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	top: 110px;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



.menu a:last-child
	display none
	
.spons
	margin-top 30px
	border-top 1px solid rgba(255,255,255,0.2)
	padding-top 20px
"ABC,Energibyrån,ELIT,Danske bank,Föräldraföreningen Jarlaplan,Mathem,SEB,EK Kommunikation,SJ,Weserch,Hotell Svea,Nordier,Danderyds Trafikskola,Arkitekt Blå,Tictac Mobile"
[currentpage="sponsorer"] .content > a:not(.no-ad), .content > .spons > a:not(.no-ad)
	display inline-block
	width 22%
	height 110px
	bg-image("")
	margin 8px
	text-decoration none
	color white
	font-size 18px
	&:after
		display block
		height 100%
	&.sp0
		background-image url("/images/spons/abc.png")
	&.sp13
		background-image url("/images/spons/arkitektbla.png")
	&.sp12
		background-image url("/images/spons/danderydtrafik.png")
	&.sp3
		background-image url("/images/spons/danskebank.png")
	&.sp7
		background-image url("/images/spons/ekko.png")
	&.sp2
		background-image url("/images/spons/elit.png")
	&.sp1
		background-image url("/images/spons/energi.png")
	&.sp10
		background-image url("/images/spons/hotelsvea.png")
	&.sp4
		background-image url("/images/spons/jarlaplan.png")
	&.sp5
		background-image url("/images/spons/mathem.png")
	&.sp11
		background-image url("/images/spons/nordier.png")
	&.sp6
		background-image url("/images/spons/seb.png")
	&.sp8
		background-image url("/images/spons/sj.png")
	&.sp14
		background-image url("/images/spons/tictac.png")
	&.sp9
		background-image url("/images/spons/wesearch.png")
	&.sp15
		background-image url("/images/spons/gyn.png")
	&.sp16
		background-image url("/images/spons/jmphjul.png")
	&.sp17
		background-image url("/images/spons/kleins.png")
	&.sp18
		background-image url("/images/spons/maliving.png")
	&.sp19
		background-image url("/images/spons/maxmatt.png")
	&.sp20
		background-image url("/images/spons/nickes.png")
	&.sp21
		background-image url("/images/spons/seifert.png")

	
[currentpage="index"] .spons
	margin-top 150px

body
	overflow-y scroll
	padding-bottom 100px

@media all and (min-width:900px) and (max-height:750px)
	.logo
		width 120px
		heigth 120px
		right 40px
		top 20px
	h1
		margin-top 70px
	h2
		font-size 16px
		margin-top -3px


@media all and (max-width:700px)
	.logo
		width 70px
		heigth 70px
		right 30px
		top 10px
	h1
		margin-top 40px
	h2
		font-size 16px
		margin-top -3px

@media all and (max-width:540px)
	body
		overflow-y scroll
		padding-bottom 100px
	h1
		font-size 30px
	h2
		font-size 15px
		width 230px
		line-height 18px
		margin 0px auto
	
	.menu a:last-child
		display inline
	.content > .spons
		display none
		
	.videoWrapper
		top 20px
		
@media all and (max-width:460px)
	.logo
		width 50px
		heigth 50px
		right 25px
		top 5px
	a.ticnet
		&:after
			absolute right -35px bottom -30px
		&:before
			absolute right -0px bottom -40px
			


[currentpage="sponsorer"] .content > .spons
	display none